/*
 * This file is part of UCLan-THC server.
 *
 *     UCLan-THC server is free software: you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation, either version 3 of
 *     the License, or (at your option) any later version.
 *
 *     UCLan-THC server is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
 */

h1
{
    color:#be0f34;
    font-family:'Tahoma',serif;
    font-size:38px;
    padding-left:30px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom:4px;
    text-decoration:none;
    text-shadow: 1px 1px #200000;
    margin-left:100px;
    margin-top:17px;
    margin-bottom:5px;
    white-space:nowrap;
}

h2
{
    color:#be0f34;
    font-family:'Tahoma',serif;
    font-size:24px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    text-decoration:none;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    white-space:nowrap;
}

h3
{
    color:#000;
    font-family:'Tahoma',serif;
    font-size:18px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    text-decoration:none;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    white-space:nowrap;
}

p
{
    color:#000000;
    font-family:'Tahoma',serif;
    font-size:16px;
    line-height:150%;
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom:4px;
    text-decoration:none;
    margin-left:5px;
    margin-top:10px;
    margin-bottom:10px;
}

pre
{
    line-height:150%;
}

a.uclan_btn,a.uclan_btn:link,a.uclan_btn:visited,a.showbtn,a.showbtn:link,a.showbtn:visited
{
    display:inline-block;
    color:#FFFFFF;
    background-color:#be0f34;
    font-family:'Tahoma',serif;
    font-weight:bold;
    font-size:18px;
    text-align:center;
    text-decoration:none;
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom:4px;
    margin-left:0;
    margin-top:0;
    margin-bottom:5px;
    border:1px solid #aaaaaa;
    border-radius:5px;
    white-space:nowrap;
}

a.uclan_btn:hover,a.uclan_btn:active,a.showbtn:hover,a.showbtn:active
{
    background-color:#000000;color:#ffffff;
}

table
{
    border-collapse:collapse;
    border: 1px dashed black;
}

table,th, td
{
    padding: 15px;
    background-color: #ddd;
}
